USE [master]
GO
/****** Object:  Database [OCOPSERVER]    Script Date: 28/10/2023 7:52:09 AM ******/
CREATE DATABASE [OCOPSERVER]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OCOPSERVER', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\OCOPSERVER.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'OCOPSERVER_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\OCOPSERVER_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OCOPSERVER].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OCOPSERVER]
GO
/****** Object:  Table [dbo].[BO_TIEUCHI]    Script Date: 28/10/2023 7:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BO_TIEUCHI](
	[ID] [bigint] NULL,
	[TEN_BO_TIEUCHI] [nvarchar](255) NULL,
	[THANG_DIEM] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 28/10/2023 7:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](255) NULL,
	[TRANG_THAI] [nvarchar](50) NULL,
	[TYPE] [smallint] NULL,
	[IS_DELETE] [bit] NULL,
	[CREATE_USER] [bigint] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATE_USER] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUTHE]    Script Date: 28/10/2023 7:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHUTHE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](1) NULL,
	[PASSWORD] [varchar](1) NULL,
	[TEN] [nvarchar](255) NULL,
	[USER_ID] [bigint] NULL,
	[BUSINESS_TYPE_ID] [bigint] NULL,
	[XA_ID] [bigint] NULL,
	[LOAIHINH_DONVI_ID] [bigint] NULL,
	[TRANG_THAI] [smallint] NULL,
	[IS_DELETE] [bit] NULL,
	[CREATE_USER] [bigint] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATE_USER] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DANH_MUC]    Script Date: 28/10/2023 7:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANH_MUC](
	[ID] [bigint] NULL,
	[MA] [nvarchar](50) NULL,
	[LOAI_DANH_MUC] [nvarchar](255) NULL,
	[TEN_TRANG_THAI] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANHGIA_HOIDONG]    Script Date: 28/10/2023 7:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHGIA_HOIDONG](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](255) NULL,
	[MO_TA] [nvarchar](1000) NULL,
	[KYDANHGIA_ID] [bigint] NULL,
	[TRANG_THAI] [bigint] NULL,
	[IS_DELETE] [bit] NULL,
	[CREATE_USER] [bigint] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATE_USER] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KETQUA_DANHGIA]    Script Date: 28/10/2023 7:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KETQUA_DANHGIA](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[KYDANHGIA_ID] [bigint] NULL,
	[THANHVIEN_HOIDONG_ID] [bigint] NULL,
	[TIEUCHI_SP_ID] [bigint] NULL,
	[SANPHAM_ID] [bigint] NULL,
	[DIEM_DANH_GIA] [float] NULL,
	[TRANG_THAI] [smallint] NULL,
	[IS_DELETE] [bit] NULL,
	[CREATE_USER] [bigint] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATE_USER] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KYDANHGIA]    Script Date: 28/10/2023 7:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KYDANHGIA](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](255) NULL,
	[MO_TA] [text] NULL,
	[NGAY_BATDAU] [datetime] NULL,
	[NGAY_KETTHUC] [datetime] NULL,
	[TRANG_THAI] [smallint] NULL,
	[NAM] [smallint] NULL,
	[IS_DELETE] [bit] NULL,
	[CREATE_USER] [bigint] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATE_USER] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LICHSU_CHAM]    Script Date: 28/10/2023 7:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSU_CHAM](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[KYDANHGIA_ID] [bigint] NULL,
	[SANPHAM_ID] [bigint] NULL,
	[TIEUCHI_SP_ID] [bigint] NULL,
	[DIEM_DANH_GIA] [float] NULL,
	[THANHVIEN_HOIDONG_ID] [bigint] NULL,
	[TYPE] [bigint] NULL,
	[IS_DELETE] [bit] NULL,
	[CREATE_USER] [bigint] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATE_USER] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIHINH_DONVI]    Script Date: 28/10/2023 7:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIHINH_DONVI](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](255) NULL,
	[TRANG_THAI] [smallint] NULL,
	[IS_DELETE] [bit] NULL,
	[CREATE_USER] [bigint] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATE_USER] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MINH_CHUNG_CONFIG]    Script Date: 28/10/2023 7:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MINH_CHUNG_CONFIG](
	[ID] [bigint] NULL,
	[NHOM_SP_ID] [bigint] NULL,
	[MINHCHUNG_ID] [bigint] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MINHCHUNG]    Script Date: 28/10/2023 7:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MINHCHUNG](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](255) NULL,
	[MO_TA] [text] NULL,
	[TRANG_THAI] [smallint] NULL,
	[YEUCAU] [smallint] NULL,
	[IS_DELETE] [bit] NULL,
	[CREATE_USER] [bigint] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATE_USER] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHOM_TIEUCHI]    Script Date: 28/10/2023 7:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOM_TIEUCHI](
	[ID] [bigint] NULL,
	[TEN_NHOM_TIEUCHI] [nvarchar](255) NULL,
	[THANG_DIEM] [float] NULL,
	[ID_BO_TIEUCHI] [bigint] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHOMSP]    Script Date: 28/10/2023 7:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMSP](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](255) NULL,
	[MO_TA] [nvarchar](1000) NULL,
	[TRANG_THAI] [nvarchar](50) NULL,
	[IS_DELETE] [bit] NULL,
	[CREATE_USER] [bigint] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATE_USER] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHUONG_XA]    Script Date: 28/10/2023 7:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHUONG_XA](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MA] [smallint] NULL,
	[TEN] [nvarchar](50) NULL,
	[TEN_EN] [nvarchar](50) NULL,
	[FULL_NAME] [nvarchar](100) NULL,
	[CAP_XPT] [nvarchar](10) NULL,
	[ID_QUAN_HUYEN] [nvarchar](10) NULL,
	[ID_TINH] [nvarchar](5) NULL,
	[TRANG_THAI] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUAN_HUYEN]    Script Date: 28/10/2023 7:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUAN_HUYEN](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MA] [smallint] NULL,
	[TEN] [nvarchar](50) NULL,
	[TEN_EN] [nvarchar](50) NULL,
	[FULL_NAME] [nvarchar](100) NULL,
	[CAP_HTT] [nvarchar](10) NULL,
	[ID_TINH] [nvarchar](10) NULL,
	[TRANG_THAI] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 28/10/2023 7:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MA_SAN_PHAM] [nvarchar](255) NULL,
	[TEN] [nvarchar](255) NULL,
	[MO_TA] [nvarchar](1000) NULL,
	[CHUTHE_ID] [bigint] NULL,
	[NHOMSP_ID] [bigint] NULL,
	[TONG_DIEM] [float] NULL,
	[FILE_ID] [bigint] NULL,
	[TRANG_THAI] [smallint] NULL,
	[TIEN_TRIEN] [nvarchar](255) NULL,
	[NOTE] [nvarchar](255) NULL,
	[IS_DELETE] [bit] NULL,
	[CREATE_USER] [bigint] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATE_USER] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAILIEU_MINHCHUNG]    Script Date: 28/10/2023 7:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAILIEU_MINHCHUNG](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[SANPHAM_ID] [bigint] NULL,
	[MINHCHUNG_ID] [bigint] NULL,
	[FILE_NAME] [varchar](1) NULL,
	[CHUTHE_ID] [bigint] NULL,
	[MO_TA] [nvarchar](1000) NULL,
	[IS_DELETE] [bit] NULL,
	[CREATE_USER] [bigint] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATE_USER] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THANHVIEN_HOIDONG]    Script Date: 28/10/2023 7:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANHVIEN_HOIDONG](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DANHGIA_HOIDONG_ID] [bigint] NULL,
	[USER_ID] [bigint] NULL,
	[VAITRO_ID] [bigint] NULL,
	[IS_DELETE] [bit] NULL,
	[CREATE_USER] [bigint] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATE_USER] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TIEU_CHI_CONFIG]    Script Date: 28/10/2023 7:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIEU_CHI_CONFIG](
	[ID] [bigint] NULL,
	[NHOMSP_ID] [bigint] NULL,
	[TIEU_CHI_ID] [bigint] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TIEUCHI]    Script Date: 28/10/2023 7:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIEUCHI](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](255) NULL,
	[MO_TA] [text] NULL,
	[TRANG_THAI] [smallint] NULL,
	[TYPE] [smallint] NULL,
	[DIEM] [float] NULL,
	[NHOM_TIEUCHI_ID] [bigint] NULL,
	[IS_DELETE] [bit] NULL,
	[CREATE_USER] [bigint] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATE_USER] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TIEUCHI_SP]    Script Date: 28/10/2023 7:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIEUCHI_SP](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TEN_TIEU_CHI] [nvarchar](1) NULL,
	[SANPHAM_ID] [bigint] NULL,
	[TIEUCHI_ID] [bigint] NULL,
	[THANG_DIEM] [float] NULL,
	[IS_DELETE] [bigint] NULL,
	[CREATE_USER] [bit] NULL,
	[CREATED_DATE] [bigint] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATE_USER] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TINH]    Script Date: 28/10/2023 7:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINH](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MA] [smallint] NULL,
	[TEN] [nvarchar](50) NULL,
	[TEN_EN] [nvarchar](50) NULL,
	[FULL_NAME] [nvarchar](100) NULL,
	[CAPTW] [nvarchar](5) NULL,
	[TRANG_THAI] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VAI_TRO_HOI_DONG]    Script Date: 28/10/2023 7:52:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAI_TRO_HOI_DONG](
	[ID] [bigint] NULL,
	[MA_VAI_TRO] [nvarchar](50) NULL,
	[TEN_VAI_TRO] [nvarchar](255) NULL,
	[LEVEL] [int] NULL
) ON [PRIMARY]

GO
USE [master]
GO
